@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-align: $align;
}

.content {
  @include dimensions(100vw, 150vw);
}

.physical_security {
  @include font("TitilliumWeb-Regular", #969696, 1.3vw, right);
  @include possitionTopLeft(relative, 1vw, 42.5vw);
  transform: translate(-50%);
  @include dimensions(35vw, 10vw);

  .title {
    @include font("TitilliumWeb-Regular", rgba(69, 69, 69, 0.839), 3.5vw, right);

    margin-bottom: 1vw;
    color: rgba(69, 69, 69, 0.839);
  }
}

.physical_security:before {
  content: '';
  @include possitionTopLeft(absolute, 13.3vw, -25.6vw);
  @include dimensions(53.1vw, 1vw);
  border-bottom: 0.1vw solid #b6b6b6;
  z-index: -2;
}

.learn_more {
  @include font("TitilliumWeb-Bold", #969696, 1vw, center);
  padding-top: 0.5vw;
  @include possitionTopLeft(relative, 4vw, 52.5vw);
  @include dimensions(20vw, 2vw);
  border: 0.1vw solid #b6b6b6;
  border-radius: 2vw;
}

.fonts {
  @include image("../../assets/images/fonts.png", 0 0, 100%);
  @include possitionTopLeft(relative, 5vw, 0);
  @include dimensions(52vw, 5vw);
}