@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-align: $align;
}

.header {
  display: flex;
  gap: 40vw;
  @include possitionTopLeft(relative, 1vw, 5vw);
  @include dimensions(100vw, 5vw);

  span:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.logo {
  @include font("TitilliumWeb-Bold", #858688, 1.8vw, left);
}

.languages {
  @include font("TitilliumWeb-Regular", #959595, 0.9vw, left);

  display: flex;
  gap: 1vw;
}

.navbar {
  @include font("TitilliumWeb-Regular", #454545, 1vw, left);

  display: flex;
  gap: 1vw;

  .log_in {
    font-weight: bold;
  }

  .button {
    @include dimensions(5vw, 2vw);
    @include font("TitilliumWeb-Regular", white, 0.9vw, center);

    background: linear-gradient(135deg, #5f2966, #4274d5);
    box-shadow: 0 0.5vw 1vw #6d76a4;

    span {
      @include possitionTopLeft(relative, 15%, 0);
    }
  }
}