@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-align: $align;
}

.footer {
  @include font("TitilliumWeb-Regular", #484848, 0.8vw, left);

  @include dimensions(70vw, 10vw);
  @include possitionTopLeft(relative, 0vw, 10vw);
}

.info {
  display: flex;
  flex-wrap: wrap;
  @include dimensions(15vw, 9vw);
  margin-left: 1vw;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 1fr;

  justify-content: right;

  @include possitionTopLeft(absolute, 0, 30vw);
  @include dimensions(35vw, 10vw);

  .border {
    content: '';
    @include possitionTopLeft(relative, 0, 0);
    @include dimensions(1vw, 17vw);
    border-right: #e3e3e3 0.2vw solid;
  }

  p {
    @include font("TitilliumWeb-Bold", #5c5c5c, 1.2vw, right);
  }

  ul {
    @include dimensions(8vw, 10vw);
    list-style: none;

    li {
      text-align: right;
    }
  }
}

.copyright_text {
  @include font("TitilliumWeb-Regular", #252525, 0.7vw, left);
  @include dimensions(25vw, 3vw);

  display: flex;
  flex-wrap: wrap;
  gap: 1vw;

  p {
    margin-top: -1vw;
  }
}