@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-align: $align;
}

.App {
  user-select: none;
  text-justify: center;
  @include font("TitilliumWeb-Regular", #959595, 1vw, left);

  p {
    margin: 0;
    padding: 0;
  }

  .red_text {
    color: red;
  }

  .button {
    cursor: pointer;
    border: none;
    border-radius: 2vw;
  }

  .gradient_button {
    @include font("TitilliumWeb-Bold", white, 1vw, center);
    @include dimensions(13vw, 3vw);

    background: linear-gradient(to right, #717fa0, #5f2966);

    span {
      @include possitionTopLeft(relative, 30%, 0);
    }
  }

  .small_button {
    @include dimensions(3vw, 3vw);
    background-color: #754c7a;
    border-radius: 50%;
  }

  .black_button {
    @include font("TitilliumWeb-Bold", white, 1vw, left);
    background-color: black;
    @include dimensions(12vw, 3vw);
    border-radius: 0.5vw;
    
    display: grid;
    grid-template-columns: 25% 85%;
    grid-template-areas:
    'img text'
    'img text';
  }

}

@font-face {
  /* TitilliumWeb-SemiBold */
  font-family: "TitilliumWeb-SemiBold";
  src: url("./assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
  /* TitilliumWeb-Regular */
  font-family: "TitilliumWeb-Regular";
  src: url("./assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  /* TitilliumWeb-Bold */
  font-family: "TitilliumWeb-Bold ";
  src: url("./assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  /* Niconne-Regular */
  font-family: "Niconne-Regular";
  src: url("./assets/fonts/Niconne/Niconne-Regular.ttf") format("truetype");
}